@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto Contatos MVC</h1>
    <p>Criando projeto MVC</p>
    <h2 class="display-7">Navegue na barra de Menu para criação de um Contato.</h2>
</div>
